
body{
    background-image: url('./bill2.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1{
    text-align: center;
} 
.container{
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 200px;
    margin: auto;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 7px;
}
button{
    border-radius: 15px;
    font-size: 15px;
    padding:10px;
    background-color: green;
    width: 20%;
}
button :hover{
    background-color: #3e8e41;
}
